@model insuriviti.ViewModel.ClaimSubmitViewModel

@{
    ViewData["Title"] = "ClaimSubmit";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}
<script src="~/templete/plugins/dropzone/min/dropzone.min.js"></script>

<h1>ClaimSubmit</h1>


<hr />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Please fill the insuarance claim form</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form enctype="multipart/form-data" asp-action="ClaimSubmit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="card-body">
            <h4 class="text-danger">(A) EMPLOYEE’S SECTION (Please use BLOCK LETTERS)</h4>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationWithPatient" class="control-label"></label>
                <input asp-for="RelationWithPatient" class="form-control" />
                <span asp-validation-for="RelationWithPatient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupPolicyNo" class="control-label"></label>
                <input asp-for="GroupPolicyNo" class="form-control" />
                <span asp-validation-for="GroupPolicyNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NatureOfSick" class="control-label"></label>
                <input asp-for="NatureOfSick" class="form-control" />
                <span asp-validation-for="NatureOfSick" class="text-danger"></span>
            </div>

        </div>

        <div class="card-body">
            <div>
                <a>
                    I hereby certify that all answers and all documents submitted with the Claim Form are complete and true. I hereby
                    authorize any doctor, hospital, clinic or medical provider, any insurance company or any other company, institution or any
                    other person who has any record or information about me and / or any of my family members to provide American Life
                    Insurance Company with the complete information, including copies of their record with reference to any sickness or
                    accident, any treatment examination, advice or hospitalization. Any photocopy of this authorization shall be taken as the
                    original copy. I also authorize the Company to deposit the payable claim amount in my below mentioned bank account.
                </a>
            </div>

            <ol>
                <li>
                    I understand that under the Individual Privacy Act 2018, American Life Insurance Company, Nepal (MetLife) is authorized
                    to collect, store, protect, analyze and process my Personal Information, Data and Sensitive Information including information
                    concerning my personal ID, history related with health, (collectively Personal Information) while processing insurance claim.
                </li>
                <li>
                    I give consent to store my Personal Information digitally in a secured server/cloud base and to any necessary cross
                    border data transfers. I also give consent to disclose said information to any others within or outside Nepal in the course of
                    claims settlement and investigations.
                </li>
                <li>
                    If I have any questions concerning Privacy Policy, I will contact MetLife offices in
                    Nepal
                </li>
            </ol>

            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <h4 class="text-danger">(B) EMPLOYER’S SECTION</h4>
            <div class="form-group">
                <label asp-for="CoverageEffDate" class="control-label"></label>
                <input asp-for="CoverageEffDate" class="form-control" />
                <span asp-validation-for="CoverageEffDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfTreatementPaperAttached" class="control-label"></label>
                <input asp-for="NoOfTreatementPaperAttached" class="form-control" />
                <span asp-validation-for="NoOfTreatementPaperAttached" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfBillAttached" class="control-label"></label>
                <input asp-for="NoOfBillAttached" class="form-control" />
                <span asp-validation-for="NoOfBillAttached" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountClaimed" class="control-label"></label>
                <input asp-for="TotalAmountClaimed" class="form-control" />
                <span asp-validation-for="TotalAmountClaimed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <h4 class="text-danger">FOR ACCIDENTAL BENEFIT ONLY (ACCIDENTAL WEEKLY INCOME) </h4>
            <div class="form-group">
                <label asp-for="DateTimeOfAccident" class="control-label"></label>
                <input asp-for="DateTimeOfAccident" class="form-control" />
                <span asp-validation-for="DateTimeOfAccident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompelledDate" class="control-label"></label>
                <input asp-for="CompelledDate" class="form-control" />
                <span asp-validation-for="CompelledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnToWorkDate" class="control-label"></label>
                <input asp-for="ReturnToWorkDate" class="form-control" />
                <span asp-validation-for="ReturnToWorkDate" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"> I hereby certify that all answers and all documents submitted with the Claim Form are complete and true</label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeRepresentativeName" class="control-label"></label>
                <input asp-for="EmployeeRepresentativeName" class="form-control" />
                <span asp-validation-for="EmployeeRepresentativeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="form-group">
            <label asp-for="Uploads" class="control-label"></label>
            <div class="custom-file">
                <input multiple asp-for="Uploads" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose files..</label>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });

    });
</script>

