
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1. How do I make a Claim?
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        You’ll find all the information on making a claim here (link to claims section). We’ve tried to make the process as simple as possible. However, as the process and the documentation required can differ for different policies, do check that you are following the right procedure for the right policy. If you have any questions about your claim or the process, please don’t hesitate to call one of our customer service representatives.
                    </div>
                </div>
            </div>
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            2.Is there any time limitation to submitting my claim?
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        To make sure your claim is processed as quickly as possible, we do ask that you, or someone on your behalf, let us know of any claim you’re making within 10 calendar days from the date that the incident occurred.  We’ve tried to make the process as easy as possible so you can write, fax, call or email. Visit our claims section (link) for a step-by-step guide to our claims process. Please make sure you check the process relating to your particular policy type because the process and documentation required may vary.
                    </div>
                </div>
            </div>
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            3. Is it possible to consolidate medical costs related to more than one health problem in one claim form?
                        </h4>
                    </div>
                </a>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes. That’s perfectly fine if you need to. Just make sure that when you file your claim, you have provided the details required for all the costs and our claims staff will ensure the correct split is achieved whilst processing your form.
                    </div>
                </div>
            </div>
            <div class="card card-warning card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            4.How could I get health insurance?
                        </h4>
                    </div>
                </a>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        You can visit our Product Section to look at the range of products we offer and the features of the different policies. Once you have decided on the product you want, or if you need help deciding, you could then talk to one of our professional advisers. The easiest way to get in touch with an adviser is to fill in the short form click here and let us call you at a time that’s most convenient.
                    </div>
                </div>
            </div>
            <div class="card card-warning card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            5. How does critical illness insurance work?
                        </h4>
                    </div>
                </a>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Critical illness insurance is there to protect you and your loved ones if you are diagnosed with one of the listed 31 illnesses. Critical illness insurance provides a lump sum amount if you are diagnosed with any one of the illnesses covered by your policy. You can benefit from access to cutting-edge medical services and having the money to meet your financial commitments and to maintain your independence and lifestyle.

                        The illnesses covered by this plan include cancer and coronary conditions which require expensive treatment and long convalescence time. You can refer to our product section for the full listing of covered illnesses and more details on the benefits of this policy.
                    </div>
                </div>
            </div>
            <div class="card card-warning card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            6. Are pre-existing conditions covered?
                        </h4>
                    </div>
                </a>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Like most insurers, our policies generally don’t cover pre-existing conditions. But we do recommend that you get in touch with one of our personal advisers to discuss your individual case. Fill in a request form here click here and an adviser will call you back at your convenience.
                    </div>
                </div>
            </div>
            <div class="card card-danger card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            7. Am I insured when I'm travelling overseas?
                        </h4>
                    </div>
                </a>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        All  policies have a worldwide coverage and so you can be confident that you’re covered whenever you travel overseas.
                    </div>
                </div>
            </div>
            <div class="card card-danger card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseEight">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            8. Can all my children be insured in the ‘family option’?
                        </h4>
                    </div>
                </a>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Of course! We make it possible for you to cover all your children who are between the ages of 6 months to 19 years. You can even add older children to your policy, up to the age of 23, if they are full-time students. To find out how our ‘family option’ might work for you, fill in a request form click here and one of our personal advisers will call you back to discuss your requirements
                    </div>
                </div>
            </div>
            <div class="card card-danger card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseNine">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            9.  If I take an Individual insurance in addition to the group one, do I get any extra benefit?
                        </h4>
                    </div>
                </a>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Your Group Insurance benefits are specified and agreed between your employer (as Policy Holder) and us. Your employer will be able to provide you with the details of your group policy. If you find that your group insurance doesn’t cover the situations you need, you can talk to us about an Individual policy that has the extra benefits you want. If you’d like to talk to us about what Individual cover will best compliment your Group cover, simply fill in a short request form click here and one of our personal advisers will get back to you, in confidence and at no extra cost to you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <p class="lead">
                <a href="contact-us.html">Contact us</a>,
                if you found not the right anwser or you have a other question?<br />
            </p>
        </div>
    </div>
</section>
<!-- /.content -->
